  /* BASIC STYLES */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  margin: 30px 145px;
 font-family:'Inter', sans-serif; 
 font-size: 15px;
}

p{
  color:  hsl(236, 13%, 42%);
  line-height: 22px;
}

hr{
  border: none;
  height: 1px;
  background-color: hsl(236, 13%, 42%);
 }


button{
  margin-top: 25px;
  color:  hsl(36, 100%, 99%);
  border: none;
  background-color:  hsl(5, 85%, 63%);
  text-transform: uppercase;
  padding: 12px 29px;
  font-weight: 700;
  letter-spacing: 2.5px;
}
/* SIDENAV STYLES */
 .side-nav div, #sideNav, .side-nav, .side-nav li, #hamburgerMenu{
  display: none;
 }

/* NAV STYLES  */

.container-nav, .container-header, .header, .container-section, .nav, .logo, .box, .hero, .right-header{
  display: flex;
}

.nav li:hover{
  cursor: pointer;
  color:#000000 ;
}

.container-nav{
  justify-content: space-between;
  min-width: 425px;
}

.nav{
  width: 500px;
  justify-content: space-between;
  list-style-type: none;
  color:  hsl(236, 13%, 42%);
}

/* HEADER STYLES */
.desktop{
  width: 100%;

}
/* width="680px" height="260px" class="desktop" */

.container-header{
  margin-top: 30px;
}

.mobile{
  display: none;
}

.hero{
  justify-content: space-between;
  margin: 20px 0 0 0;
  width:100%;
}

.h1{
  line-height: 50px;
  font-size: 50px;
  width: 300px;
  font-weight: 900; 
}

.paragraph{
 width: 320px;
}

.right-header{
  /* justify-content: space-between;
  flex-direction: column;
  hei
  437
 
  padding: 20px 10px;
  margin-left: 30px; */
  max-height: 737px;
  margin-left: 20px;
  background-color: hsl(240, 100%, 5%);
  margin-top: 0px;
  flex-direction: column;
  padding:20px 25px;
}

.right{
  color: hsl(233, 8%, 79%);
  padding :10px 0px;
}

/* SECTION STYLES */

.container-section{
  justify-content: space-between;
}

.box{
  margin-top: 60px;
  width: 320px;
}

.writeup{
  margin-left: 20px;
  margin-top: 10px;
  line-height: 28px;
  height:100px; 
}

.num{
  color: hsl(233, 8%, 79%);
  font-size: 30px;
}

 
/* MOBILE VIEW STYLES */

@media(max-width:750px){
  body{
    margin:28px 25px;
  }

  /* SIDE NAV STYLES */

  .side-nav, .side-nav li, .side-nav div, #hamburgerMenu{
    display: block;
  }
  .side-nav{
    list-style: none; 
    width: 254px;
    height: 700px;
    background-color: rgb(244, 244, 244);
    margin: -49px 0px 0px -200px;  
    border-radius: 5px;
    padding: 0px 25px;
    position: absolute;
    cursor: pointer;
    box-shadow:  1px 2px 20px 2px #888;
   }
   .side-nav div{
    text-align: right;
    margin-top: 25px;
    margin-bottom: 60px;
   }
  
   .side-nav li{
    line-height: 55px;
    font-size: 20px;
   }
  
   .side-nav li:hover{
    color:#5e5e5e ;
    font-size: 22px ;
   }

  /* NAV STYLES MOBILE */
  .nav, .desktop{
   display: none;
  }
 .mobile, .container-header, .header .box, .hero, .right-header,.right, .container-section{
   display: block;
 }

 .container-nav{
   display: flex;
 }

 /* HEADER STYLES MOBILE */
 
 .hero{
   width: 440px;
 }

 .h1{
   font-size: 40px;
   width: 350px;
   font-weight: 900;
 }

 .paragraph{
   width: 450px;
 }
 
 .right-header{
   margin-left: 0px;
   margin-top: 50px;
   flex-direction: column;
   height: 437px;
   padding:20px 25px;
 }

 .right{
   padding :25px 0px;
 }

 /* SECTION STYLES MOBILE */

.box{
   margin-top: 60px;
   width: 420px;
 }
}
